html {
  overflow-x: hidden;
}

body {
  // overflow-x: hidden;
  box-sizing: border-box;

  min-width: 320px;

  color: #ffffff;
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;

  background-color: #1f1616;
}

// body.is-modal {
//   height: 100vh;
//   overflow-y: hidden;
// }

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  // opacity: 0.2;
  transition: ease-in-out 0.4s;
}

// *:hover {
//   transition: all ease-in-out 0.4s;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

// #overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 5;
//   background-color: rgba(255, 255, 255, 0.8);
//   opacity: 0;
//   visibility: hidden;
// }

// #overlay.active {
//   z-index: 5;
//   opacity: 1;
//   visibility: visible;
//   overflow: hidden;
// }

// // битые изображения 
// img {
//   position: relative;
//   display: block;
//   max-width: 100%;
//   height: auto;

//   font-family: Helvetica, Arial, sans-serif;
//   font-weight: 300;
//   line-height: 2;
//   text-align: center;
// }

// img:before {
//   content: "Error img :(";
//   display: block;
//   margin-bottom: 10px;
// }

// img:after {
//   content: "(url: "attr(src) ")";
//   display: block;
//   font-size: 12px;
// }


// container
.wrapper,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 992.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1198.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 600px);
  }
}

@media (min-width: 1449.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 593px);
  }
}

@media (min-width: 2498.98px) {

  .wrapper,
  footer {
    padding: 0 calc(50vw - 750px);
  }
}