.accordion {
  padding-right: 30px;
  width: 658px;
  height: 583px;
  overflow-y: auto;
  // overflow-x: hidden;
}

.accordion__header {
  display: flex;
  align-items: center;

  padding-left: 0 !important;

  color: #ffffff;

  background: transparent;
  border: none;
  border-bottom: 1px solid #524343;
}

.accordion__header:last-child {
  opacity: 0.5;
}

.accordion__btn {
  padding: 10px 20px;
  color: #ffffff !important;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-accordion-content-active.accordion__content {
  border-bottom: 1px solid #524343;
  overflow: unset;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 0;
  color: #ffffff;
}

// 

.accordion__order,
.accordion__list {
  display: flex;
  align-items: center;
}

.accordion__list {
  justify-content: space-between;
}

.accordion__order {
  justify-content: flex-start;
}

.accordion__sum {
  margin-left: 40px;

  color: #eeb913;
}

.accordion__img,
.accordion__title,
.accordion__price,
.ingredients {
  margin-right: 28px;
}

.accordion__icon {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  color: #eeb913;
}


.ui-state-active .accordion__icon span {
  display: block;
  transform: rotate(45deg);
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.accordion__content {
  height: auto;
  background: transparent;
  border: none;
}

.accordion__price {
  color: #eeb913;
}

// 
// .accordion {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }

/* для Chrome/Edge/Safari */
// .accordion::-webkit-scrollbar {
//   height: 10px;
//   width: 3px;
// }

// .accordion::-webkit-scrollbar-track {
//   background: #524343;
// }

// .accordion::-webkit-scrollbar-thumb {
//   background-color: #eeb913;
//   border-radius: 30px;
// }

.accordion {
  scrollbar-width: 3px;
  scrollbar-color: #eeb913 #524343;
}

/* Chrome/Edge/Safari */
.accordion::-webkit-scrollbar {
  height: 12px;
  width: 3px;
}

.accordion::-webkit-scrollbar-track {
  background: #524343;
}

.accordion::-webkit-scrollbar-thumb {
  background-color: #eeb913;
  border-radius: 30px;
}