.breadcrumbs {
  position: relative;
  z-index: 5;
  padding-top: 138px;

  span {
    margin-left: 5px;
  }

  @media screen and (max-width: 992px) {
    padding-top: 100px;
  }
}

.breadcrumbs__link {
  margin-right: 5px;
  color: #828282;
}

.breadcrumbs__link:hover {
  color: #cfa55b;
  transition: ease-in-out 0.3s;
}