.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 33px;
  width: auto;

  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 120%;
  color: #ffffff;

  text-align: center;

  border: 1px solid #eeb913;
  box-sizing: border-box;
  border-radius: 60px;
}

.btn:hover {
  color: #352a2a;
  background: linear-gradient(180deg, #eeb913 0%, #ee9613 100%);
  transition: ease-in-out 0.4s;
}

.btn--invert {
  color: #352a2a;
  background: linear-gradient(180deg, #eeb913 0%, #ee9613 100%);
}

.btn--invert:hover {
  color: #ffffff;
  border: 1px solid #eeb913;
  background: transparent;
}