.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 33px;
  width: auto;

  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 120%;
  color: #ffffff;

  text-align: center;

  border: 1px solid #eeb913;
  box-sizing: border-box;
  border-radius: 60px;

  background: transparent;
}

.btn:hover {
  color: #352a2a;
  background: linear-gradient(180deg, #eeb913 0%, #ee9613 100%);
  transition: ease-in-out 0.4s;
}

.btn--goods {
  padding: 11px 18px;
  width: 100%;
}

.menu .btn--goods {
  max-width: 112px;
}

.btn--invert {
  color: #352a2a;
  background: linear-gradient(180deg, #eeb913 0%, #ee9613 100%);
}

.btn--invert:hover {
  color: #ffffff;
  border: 1px solid #eeb913;
  background: transparent;
}

.ingredient .btn {
  padding: 11px 25px;
  font-size: rem(14px);

  @media screen and (max-width: 320px) {
    padding: 10px 20px;
  }
}

.bordered .btn {
  margin: 0 auto;
}

.btn--center {
  display: block;
  box-sizing: border-box;
  padding: 14px 20px;
  max-width: 218px;
  margin: 0 auto;
  margin-bottom: 112px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
  }
}