.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 35%;

  @media(max-width: $width-lg) {
    flex-basis: 0;
  }
}

.contacts__mobmenu {
  display: none;

  justify-content: center;
}

.nav.active .contacts__mobmenu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  svg {
    margin: 0 12px;

    transform: scale(1.6);
  }
}