.goods__list,
.goods {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  @media screen and (max-width: 2498px) {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 992px) {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}

.goods__list {
  padding-bottom: 30px;

  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}

.goods__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 30px 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  max-width: 270px;
  height: auto;

  background: radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352a2a 100%), #3c3030;
  box-shadow: 0px 10px 50px #1e1717;

  // @media screen and (max-width: 1198px) {
  @media screen and (max-width: 2498px) {
    margin-right: 29px;
  }

  @media screen and (max-width: 992px) {
    margin: 0 10px 20px;
    max-width: 320px;
  }

  @media screen and (max-width:767px) {
    max-width: unset;
  }

  @media screen and (max-width:575px) {
    margin: 0 0 20px 0;
  }
}

.main .goods__item {
  @media screen and (min-width: 2499px) {
    margin-right: 29px;
  }
}

.menu .goods__item {
  @media screen and (max-width: 1198px) {
    max-width: 330px;
  }

  @media screen and (max-width: 992px) {
    max-width: 270px;
  }
}

.goods__item--empty {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 471px;

  border: 1px solid #554040;
  background: transparent;
}

.popular .goods__item:nth-child(4n) {

  // 
  @media screen and (max-width: 2498px) {
    margin-right: 0;
  }

  @media screen and (max-width: 1198px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 992px) {
    margin: 0 10px 20px;
    max-width: 320px;
  }

  @media screen and (max-width:767px) {
    max-width: unset;
  }

  @media screen and (max-width:575px) {
    margin: 0 0 20px 0;
  }
}

.menu .goods__item:nth-child(3n) {

  // 
  @media screen and (max-width: 2498px) {
    margin-right: 0;
  }

  @media screen and (max-width: 1198px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 992px) {
    margin: 0 10px 20px;
    max-width: 270px;
  }
}


.goods__item:last-child {
  margin-right: 0;
  width: 100%;
}

.goods__item:hover {
  background: linear-gradient(0deg, #524343, #524343), #3c3030;
  // box-shadow: 0px 0px 4px #524343, 0px 10px 50px #1e1717;
  box-shadow: 0 0 4px #524343, 0 0 10px #1e1717;
  transition: ease-in-out 0.4s;
}

.goods__item--empty:hover {
  box-shadow: none;
  background: transparent;
}

.goods__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__flex--type2 {
  justify-content: flex-start;
  margin-bottom: 22px;
}

.goods__flex--abs {
  position: absolute;
  width: 82%;
  left: 0;
  right: 0;
  margin: auto;
}

.goods__title {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  color: #ffffff
}

.goods__mark {
  padding: 7px 10px;
  margin-left: auto;
  background: #6aab75;
  border-radius: 5px;
}

.goods__img {
  img {
    object-fit: contain;
    width: 100%;
  }
}

.goods__wrapper {
  min-height: 222px;
  width: 270px;
}

.goods__img--wide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.goods__inner {
  position: relative;
}

.goods__overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(60, 48, 48, 0) 0%, #3c3030 100%);
}

.goods__overlay--revers {
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #2C2323 0%, rgba(34, 29, 29, 0) 60%);
}

.goods__item:hover .goods__overlay {
  background: linear-gradient(180deg, rgba(82, 67, 67, 0) 0%, #534444 100%);
}

.goods__item:hover .goods__overlay--revers {
  background: linear-gradient(180deg, #2C2323 0%, rgba(34, 29, 29, 0) 43.51%);
}

.goods__text {
  font-size: 12px;
  line-height: 140%;
}

.goods__link {
  margin-top: 7px;
  margin-bottom: 9px;
  text-decoration: none;
}

.goods__cost {
  margin-right: 10px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;

  color: #eeb913;
}

.goods__action {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.goods__out {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 150%;
  text-align: center;

  color: #ffffff;
}

.goods__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  width: 127px;
  height: 127px;

  font-family: "PTSerif", Arial, Helvetica, sans-serif;
  font-size: 80px;
  line-height: 130%;

  border: 1px solid #eeb913;
  border-radius: 50%;
}

.goods__out:hover {
  transition: ease-in-out 0.4s;
  color: #eeb913;
}

.goods__out:hover .goods__plus {
  border: 1px solid #ffffff;
  transition: ease-in-out 0.4s;
}