.ingredients {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-right: 35px;
  max-width: 105px;

  color: #ffffff;
}

.cart-page .ingredients {
  margin-right: 0;
  margin-top: 10px;
  max-width: 220px;
}

.lk-page .ingredients {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.ingredients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 5px;

  width: 19px;
  height: 20px;

  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-radius: 50%;
}

.cart-page .ingredients__item {
  width: 30px;
  height: 31px;
}