.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__img {
  z-index: 5;
  margin-right: 19px;
  // overflow-x: visible;

  @media screen and (max-width: 1198px) {
    max-width: 500px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.slider__name {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 10px;
  margin-bottom: 15px;

  line-height: 100%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  background: #ee8913;
  border-radius: 5px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 10px;
  }
}

.slider__component {
  margin-bottom: 20px;
  line-height: 140%;

  @media screen and (max-width: 1198px) {
    margin-bottom: 10px;
  }
}

.slick-next,
.slick-prev {
  position: absolute;
  right: 210px;
  bottom: 140px;

  cursor: pointer;

  svg {
    fill: #ffffff;
  }

  @media screen and (max-width: 1198px) {
    bottom: 70px;
    right: 305px;
  }
}

.slick-next {
  right: 95px;

  @media screen and (max-width: 1198px) {
    right: 215px;
  }
}

.slick-next:hover,
.slick-prev:hover {
  svg {
    fill: #cfa55b;
    transition: ease-in-out 0.4s;
  }
}