.slider {
  margin-top: 120px;

  @media screen and (max-width:767px) {
    margin-top: 25px;
  }
}


.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:767px) {
    flex-direction: column;
  }
}

.slider-for__img,
.slider__img {
  z-index: 5;
  margin-right: 19px;

  img {
    object-fit: cover;
  }

  @media screen and (max-width: 1198px) {
    max-width: 500px;
    margin-right: 0;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.slider-for__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 100%;
  min-height: 491px;

  margin-top: -40px;

  @media screen and (max-width: 1198px) {
    margin-top: 0;
    min-height: 465px;
  }
}

.slider-for__img img {
  position: absolute;
  object-fit: contain;

  @media screen and (max-width: 1198px) {
    left: -190px;
  }

  @media screen and (max-width: 992px) {
    left: -130px;
  }
}

.slider__name {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 10px;
  margin-bottom: 15px;

  line-height: 100%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  background: #ee8913;
  border-radius: 5px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 10px;
  }
}

.slider__component {
  margin-bottom: 20px;
  line-height: 140%;

  @media screen and (max-width: 1198px) {
    margin-bottom: 10px;
  }
}

.slick-next,
.slick-prev {
  z-index: 5;
  position: absolute;
  right: 210px;
  bottom: 140px;

  cursor: pointer;

  svg {
    fill: #ffffff;
  }

  @media screen and (max-width: 1198px) {
    bottom: 70px;
    right: 305px;
  }

  @media screen and (max-width: 992px) {
    bottom: 22px;
    right: 290px;
  }

  @media screen and (max-width:767px) {
    bottom: 16px;
    right: 665px;
  }

  @media screen and (max-width:575px) {
    right: 720px;
  }
}

.calculate .slick-next,
.calculate .slick-prev {
  bottom: 5px;
  right: unset;
  left: 0;
}

.slick-next {
  right: 95px;

  @media screen and (max-width: 1198px) {
    right: 215px;
  }

  @media screen and (max-width: 992px) {
    right: 200px;
  }

  @media screen and (max-width:767px) {
    right: 560px;
  }

  @media screen and (max-width:575px) {
    right: 630px;
  }
}

.calculate .slick-next {
  left: 90px;
}

.slick-next:hover,
.slick-prev:hover {
  svg {
    fill: #cfa55b;
    transition: ease-in-out 0.4s;
  }
}

// slider-for, slider-nav
.slider-for {
  padding-top: 30px;

  @media screen and (max-width: 1198px) {
    padding-top: 0;
  }
}

.slider-for__inner {
  padding-top: 30px;

  @media screen and (max-width: 1198px) {
    padding-top: 15px;
  }
}

.slider-for__title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  font-size: 40px;
  line-height: 130%;

  color: #eeb913;
}

.slider-for__weight {
  display: block;
  margin-left: 30px;
  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #ffffff;
}

.slider-for__component {
  margin-bottom: 30px;
}

.slider-for__component span {
  color: #a7a7a7;
}

.slider-nav {
  padding: 25px 15px 0 15px;

  @media (min-width: 575.98px) {

    padding-left: calc(50vw - 270px);
  }

  @media (min-width: 767.98px) {

    padding-left: calc(50vw - 360px);
  }

  @media (min-width: 992.98px) {
    padding-left: calc(50vw - 480px);
  }

  @media (min-width: 1198.98px) {

    padding-left: calc(50vw - 600px);
  }

  @media (min-width: 1449.98px) {

    padding-left: calc(50vw - 593px);
  }

  @media (min-width: 2498.98px) {
    padding-left: calc(50vw - 750px);
  }
}

.slider-nav__title {
  display: flex;
  align-items: center;
  min-height: 85px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(25px);
  color: rgba($color: #ffffff, $alpha: 0.4);

  cursor: pointer;
}

.slick-current .slider-nav__title {
  transition: 0.7s linear;

  font-size: rem(50px);
  color: rgba($color: #ffffff, $alpha: 1.0);
}

.slider-nav__slide {
  padding: 0 65px 0 0;
}

.slider-nav__mark {
  padding: 3px 5px;
  margin-left: 20px;

  font-family: "PTSans", Arial, Helvetica, sans-serif;
  font-size: rem(10px);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  background: #6aab75;
  border-radius: 5px;

  opacity: 0.4;
}

.slick-current .slider-nav__mark {
  padding: 7px 10px;
  margin-top: 15px;
  opacity: 1;
  font-size: rem(16px);
}

.slider-for__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width:767px) {
    flex-direction: column;
  }
}