.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 30px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.totals__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals__subtitle,
.totals__summa {
  margin-left: 10px;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: #eeb913;

  @media screen and (max-width: 992px) {
    font-size: 20px;
  }
}

.totals__subtitle {
  margin-right: 5px;
  color: #ffffff;
}

.totals__onwards {
  margin: 0 5px;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    padding: 10px 15px;
    font-size: 16px;
  }
}

.totals__btn {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 4px;
  padding: 0;
  color: #eeb913;
  font-size: 25px;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;

  @media screen and (max-width: 1198px) {
    bottom: -5px;
  }

  @media screen and (max-width: 767px) {
    bottom: 10px;
  }
}


.totals__form {
  position: relative;

  @media screen and (max-width: 1198px) {
    width: min-content;
  }

  @media screen and (max-width: 575px) {
    padding-left: 25px;
  }
}

.totals__form label {
  margin-right: 50px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  @media screen and (max-width: 1198px) {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: -20px;
  }
}

.totals__input {
  padding: 8px 0 8px 25px;

  color: #ffffff;
  font-size: 25px;
  background: #352a2a;
  border: none;
  outline: none;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}