// .cart-page {
//   background: url("../img/bg/bg-mask.png");
//   background-size: cover;
// }

.cart-page__block {
  padding: 45px 30px 0 40px;

  background: #352a2a;
  box-shadow: 0px 10px 50px #1e1717;

  @media screen and (max-width: 767px) {
    padding: 15px 20px 0 20px;
  }

  @media screen and (max-width: 575px) {
    padding: 15px;
  }
}

.cart-page__row {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  align-items: center;

  padding-bottom: 35px;
  padding-top: 35px;

  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 575px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.cart-page__row:last-child {
  border-bottom: none;
}

.cart-page__num {
  margin-right: 40px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

.cart-page__img {
  margin-right: 30px;
}

.cart-page__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 225px;

  @media screen and (max-width: 1198px) {
    width: auto;
  }
}

.cart-page__title {
  margin-right: 15px;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  color: #ffffff;

  @media screen and (max-width: 1198px) {
    font-size: 22px;
  }

  @media screen and (max-width: 992px) {
    font-size: 20px;
  }
}

.cart-page__mark {
  padding: 7px 10px;
  margin-left: auto;
  background: #6aab75;
  border-radius: 5px;

  @media screen and (max-width: 1198px) {
    padding: 3px 5px;
  }

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.cart-page__cost {
  display: flex;
  align-items: center;
  margin-left: 45px;
  margin-right: 25px;

  @media screen and (max-width: 1198px) {
    justify-content: center;
    margin-left: 25px;
    margin-right: 5px;
    min-width: 200px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }
}

.cart-page__price {
  margin-right: 25px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #eeb913;

  @media screen and (max-width: 1198px) {
    font-size: 26px;
  }

  @media screen and (max-width: 992px) {
    font-size: 18px;
  }
}

.cart-page__oldprice {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration-line: line-through;

  color: rgba($color: #ffffff, $alpha: 0.4);
}

.cart-page__action {
  display: flex;
  justify-content: space-between;

  min-width: 502px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 10px;
    min-width: unset;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media screen and (max-width: 992px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cart-page__btn {
  @media screen and (max-width: 1198px) {
    min-width: 200px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 0;
    min-width: unset;
    margin-right: 10px;
  }

  @media screen and (max-width: 575px) {
    margin-top: 10px;
  }
}

.form-cart {
  padding: 0 0 50px 0;

  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
}

.form-cart__title {
  margin-bottom: 30px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.form-cart__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 1198px) {
    flex-wrap: wrap;
  }
}

.form-cart__comment label,
.form-cart__row label {
  max-width: 370px;

  font-size: 16px;
  line-height: 140%;
  color: rgba($color: #ffffff, $alpha: 0.5);

  @media screen and (max-width: 450px) {
    max-width: unset;
    min-width: 100%;
  }
}

.form-cart__comment textarea {
  min-width: 599px;

  font-size: 20px;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    min-width: 100%;
    max-height: 100px;
  }
}

.form-cart__comment label {
  margin-bottom: 10px;

  @media screen and (max-width: 450px) {
    margin-bottom: 5px;
  }
}

.form-cart__input {
  padding: 12px 0 15px 20px;
  margin-top: 10px;
  margin-right: 50px;
  width: 330px;

  font-size: 20px;
  border-radius: 5px;
  color: #ffffff;
  background: #1f1616;
  border: none;
  outline: none;

  @media screen and (max-width: 1198px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 450px) {
    margin-right: 15px;
    min-width: 100%;
    width: auto;
    font-size: 16px;
  }
}

.form-cart__input--nomargin {
  margin-right: 0;
  width: 100%;

  @media screen and (max-width: 1198px) {
    width: 330px;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.form-cart__pickup,
.form-cart__change {
  position: absolute;
  right: 0;
  bottom: 60px;

  color: #eeb913;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;

  background: transparent;
  border: none;

  cursor: pointer;

  @media screen and (max-width: 1198px) {
    bottom: 140px;
  }
}

.form-cart__pickup {
  @media screen and (max-width: 1198px) {
    left: 185px;
    right: unset;
    bottom: 80px;
  }

  @media screen and (max-width: 380px) {
    left: 115px;
    bottom: 73px;
  }
}

.form-cart__change {
  left: 240px;
  width: fit-content;
  text-align: left;

  @media screen and (max-width: 380px) {
    left: 130px;
    bottom: 173px;
  }
}

.form-cart__pickup:hover,
.form-cart__change:hover {
  color: #ffffff;
  transition: all ease-in-out 0.4s;
}


.form-cart__comment {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid #524343;

  @media screen and (max-width: 1198px) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.form-cart__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }

  @media screen and (max-width: 575px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.form-cart__payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 130px;
  width: 100%;

  @media screen and (max-width: 1198px) {
    padding-right: 30px;
  }

  @media screen and (max-width: 992px) {
    padding-right: 20px;
    width: 65%;
  }

  @media screen and (max-width: 767px) {
    width: 56%;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.form-cart__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-cart__pay {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-cart__nochange,
.form-cart__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-cart__nochange+label,
.form-cart__radio+label {
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  cursor: pointer;
}

.form-cart__radio+label {
  font-size: 18px;
}

.form-cart__radio+label::before {
  content: "";
  display: inline-block;
  margin-right: 8px;


  width: 11px;
  height: 11px;

  background: transparent;
  border: 1px solid #605757;
  border-radius: 50%;
  cursor: pointer;
}

.form-cart__nochange+label::before {
  content: "";
  display: inline-block;
  margin-right: 10px;


  width: 14px;
  height: 14px;

  background: transparent;
  border: 1px solid #524343;
  border-radius: 1px;
  cursor: pointer;
}

.form-cart__radio:checked+label::before {
  background: #eeb913;

  border: 2px solid #352a2a;
  outline: 1px solid #ffffff;
}

.form-cart__nochange:checked+label::before {
  border: 1px solid #524343;
  background: url("../img/icons/icon-tip.svg") no-repeat 50% 50%;
  background-size: contain;
}

.form-cart__nochange:not(:disabled):not(:checked)+label:hover::before,
.form-cart__radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #eeb913;
  transition: ease-in-out 0.4s;
}

.form-cart__nochange:disabled+label,
.form-cart__radio:disabled+label {
  background-color: #44393a;
  border-radius: 50%;

  cursor: not-allowed;
}

.form-cart__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.form-cart__orders {
  padding: 20px 20px 0 20px;
  width: 300px;

  background: #1f1616;

  @media screen and (max-width: 767px) {
    max-height: 220px;
  }

  @media screen and (max-width: 575px) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    width: 60%;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.form-cart__input--num {
  margin-left: 25px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.form-cart__input--num::-webkit-inner-spin-button {
  display: none;
}

.form-cart__width {
  flex-basis: 60%;

  @media screen and (max-width: 1198px) {
    flex-basis: 65%;
  }

  @media screen and (max-width: 992px) {
    flex-basis: auto;
    margin-top: 10px;
  }
}

.listing {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 20px;
  max-height: 195px;
  overflow-y: scroll;
  scrollbar-width: 3px;
  scrollbar-color: #eeb913 #524343;

  @media screen and (max-width: 767px) {
    max-height: 100px;
  }

  @media screen and (max-width: 575px) {
    min-height: 150px;
  }
}

.listing__item {
  margin-bottom: 25px;

  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.listing__flex {
  display: flex;
  justify-content: space-between;
}

.listing__title,
.listing__cost {
  margin: 0;
  padding: 0;
  line-height: 50%;
}

.listing__weight {
  font-size: 12px;
  line-height: 140%;

  color: rgba($color: #ffffff, $alpha: 0.5);
}

/* Chrome/Edge/Safari */
.listing::-webkit-scrollbar {
  height: 12px;
  width: 3px;
}

.listing::-webkit-scrollbar-track {
  background: #524343;
}

.listing::-webkit-scrollbar-thumb {
  background-color: #eeb913;
  border-radius: 30px;
}