.cart-page {
  // padding-bottom: 80px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

.cart-page__block {
  padding: 45px 30px 0 40px;

  background: #352a2a;
  box-shadow: 0px 10px 50px #1e1717;
}

.cart-page__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 35px;
  padding-top: 35px;

  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}

.cart-page__row:last-child {
  border-bottom: none;
}

.cart-page__num {
  margin-right: 40px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

.cart-page__img {
  margin-right: 30px;
}

.cart-page__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page__title {
  margin-right: 15px;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  color: #ffffff
}

.cart-page__mark {
  padding: 7px 10px;
  margin-left: auto;
  background: #6aab75;
  border-radius: 5px;
}

.cart-page__cost {
  display: flex;
  align-items: center;
  margin-left: 45px;
  margin-right: 25px;
}

.cart-page__price {
  margin-right: 25px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #eeb913;
}

.cart-page__oldprice {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration-line: line-through;

  color: rgba($color: #ffffff, $alpha: 0.4);
}

.cart-page__action {
  display: flex;
  justify-content: space-between;

  min-width: 502px;
}

// form-cart
.form-cart {
  padding: 0 0 50px 0;
}

.form-cart__title {
  margin-bottom: 30px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
}

.form-cart__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-cart__comment label,
.form-cart__row label {
  max-width: 370px;

  font-size: 12px;
  line-height: 140%;
  color: rgba($color: #ffffff, $alpha: 0.5);
}

.form-cart__row input {
  margin-top: 10px;

  border-radius: 5px;
}

.form-cart__comment textarea {
  min-width: 599px;
  border-radius: 5px;
}

.form-cart__comment label {
  margin-bottom: 10px;
}

.form-cart__input {
  padding: 12px 0 15px 20px;
  margin-right: 107px;
  width: 246px;

  color: #ffffff;
  background: #1f1616;
  border: none;
  outline: none;
}


.form-cart__pickup,
.form-cart__change {
  position: absolute;
  right: 0;
  bottom: 13px;

  color: #eeb913;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;

  background: transparent;
  border: none;

  cursor: pointer;
}

.form-cart__change {
  left: 170px;
  width: fit-content;
  text-align: left;
}

.form-cart__pickup:hover,
.form-cart__change:hover {
  color: #ffffff;
  transition: all ease-in-out 0.4s;
}

.form-cart__comment {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid #524343;
}

.form-cart__bottom {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  padding-top: 50px;
}

.form-cart__payment {
  padding-right: 130px;
  width: 100%;
}

.form-cart__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.form-cart__pay {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

// radio
.form-cart__nochange,
.form-cart__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-cart__nochange+label,
.form-cart__radio+label {
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  cursor: pointer;
}

.form-cart__radio+label::before {
  content: "";
  display: inline-block;
  margin-right: 8px;


  width: 11px;
  height: 11px;

  background: transparent;
  border: 1px solid #605757;
  border-radius: 50%;
  cursor: pointer;
}

.form-cart__nochange+label::before {
  content: "";
  display: inline-block;
  margin-right: 10px;


  width: 14px;
  height: 14px;

  background: transparent;
  border: 1px solid #524343;
  border-radius: 1px;
  cursor: pointer;
}

.form-cart__radio:checked+label::before {
  background: #eeb913;

  border: 2px solid #352a2a;
  outline: 1px solid #ffffff;
}

.form-cart__nochange:checked+label::before {
  border: 1px solid #524343;
  background: url("../img/icons/icon-tip.svg") no-repeat 50% 50%;
  background-size: contain;
}

.form-cart__nochange:not(:disabled):not(:checked)+label:hover::before,
.form-cart__radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #eeb913;
  transition: ease-in-out 0.4s;
}

.form-cart__nochange:disabled+label,
.form-cart__radio:disabled+label {
  background-color: #44393a;
  border-radius: 50%;

  cursor: not-allowed;
}

.form-cart__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // margin-top: 70px;      

  // @media screen and (max-width: 2498px) {
  //   justify-content: space-between;
  // }
}

.form-cart__orders {
  padding: 20px 20px 0 20px;
  // height: 290px;
  width: 300px;

  background: #1f1616;
}

.form-cart__input--num {
  margin-left: 30px;
}

.form-cart__input--num::-webkit-inner-spin-button {
  display: none;
}

.listing {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 20px;
  height: 195px;
  overflow-y: scroll;
  scrollbar-width: 3px;
  scrollbar-color: #eeb913 #524343;
}

.listing__item {
  margin-bottom: 25px;
}

.listing__flex {
  display: flex;
  justify-content: space-between;
}

.listing__title,
.listing__cost {
  margin: 0;
  padding: 0;
  line-height: 50%;
}

.listing__weight {
  font-size: 12px;
  line-height: 140%;

  color: rgba($color: #ffffff, $alpha: 0.5);
}

/* Chrome/Edge/Safari */
.listing::-webkit-scrollbar {
  height: 12px;
  width: 3px;
}

.listing::-webkit-scrollbar-track {
  background: #524343;
}

.listing::-webkit-scrollbar-thumb {
  background-color: #eeb913;
  border-radius: 30px;
}