.footer {
  padding-top: 60px;
  padding-bottom: 25px;

  @media screen and (max-width: 1198px) {
    padding-top: 50px;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__row--bordered {
  padding-top: 35px;
  margin-top: 60px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);

  @media screen and (max-width: 1198px) {
    margin-top: 30px;
  }

  @media screen and (max-width: 992px) {
    margin-top: 10px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;

  @media screen and (max-width: 992px) {
    flex-basis: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.footer__list {
  margin: 0 20px;
}

.footer__logo {
  display: block;
  box-sizing: border-box;
  margin-bottom: 35px;

  font-size: 0;

  @media screen and (max-width: 992px) {
    text-align: center;
  }
}

.footer__mail,
.footer__phone {
  display: block;
  box-sizing: border-box;
  margin-bottom: 12px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;

  text-align: right;

  @media screen and (max-width: 992px) {
    text-align: center;
  }
}

.footer__mail:hover,
.footer__phone:hover {
  color: #cfa55b;
  transition: ease-in-out 0.3s;
}

.footer__text {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;

  color: #ffffff;

  @media screen and (max-width: 992px) {
    text-align: center;
  }
}

.footer__text--yellow {
  color: #eeb913;
}

.footer__text--margin {
  margin-bottom: 30px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 20px;
  }
}

.footer__head {
  margin-bottom: 25px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;

  color: rgba($color: #ffffff, $alpha: 0.3);
}

.footer__link {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.footer__link:hover {
  color: #cfa55b;
  transition: ease-in-out 0.3s;
}

.footer__inner {
  display: flex;
  align-items: center;

  @media screen and (max-width:575px) {
    flex-direction: column;
  }
}

.footer__copyright {
  margin-right: 80px;

  color: rgba($color: #ffffff, $alpha: 0.4);

  @media screen and (max-width: 992px) {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  @media screen and (max-width:575px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.footer__copyright--link:hover {
  color: #cfa55b;
  transition: ease-in-out 0.3s;
}