.main {
  padding-bottom: 2px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;

  overflow-x: hidden;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%
  }
}


.intro {
  @include grad();
  position: relative;
  padding-bottom: 80px;
  background-size: cover;

  overflow-x: hidden;

  @media screen and (max-width: 1198px) {
    padding-bottom: 30px;
  }
}

.intro__rel {
  position: relative;

  max-width: 1170px;
  margin: 0 auto;

  height: 0;

  @media screen and (max-width: 1198px) {
    max-width: unset;
    width: 960px;
  }
}

.calculate__counter,
.intro__counter {
  position: absolute;
  right: 150px;
  bottom: 140px;

  color: #ffffff;

  @media screen and (max-width: 1198px) {
    bottom: 70px;
    right: 260px;
  }

  @media screen and (max-width: 992px) {
    bottom: 20px;
    right: 245px;
  }

  @media screen and (max-width:767px) {
    bottom: 16px;
    right: 610px;
  }

  @media screen and (max-width:575px) {
    right: 675px;
  }
}

.calculate__counter {
  right: unset;
  left: 45px;
}

#cp {
  margin-right: 3px;
  font-size: 22px;
  line-height: 24px;
  opacity: 1;
  color: #ffffff;
}

.intro__total {
  opacity: 0.4;
}

.sale {
  padding-top: 65px;
  padding-bottom: 95px;

  @media screen and (max-width: 1198px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.sale__title {
  padding-bottom: 35px;
  margin-bottom: 45px;

  font-size: 25px;
  line-height: 130%;
  border-bottom: 1px solid #ffffff;

  @media screen and (max-width: 1198px) {
    padding-bottom: 25px;
    margin-bottom: 35px;
  }
}

.sale__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

.sale__img {
  z-index: 5;
  margin-right: 99px;

  @media screen and (max-width: 1198px) {
    margin-right: 35px;
  }

  @media screen and (max-width: 992px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.sale__name {
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 10px;
  margin-bottom: 30px;

  line-height: 100%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  background: #ee4813;
  border-radius: 5px;

  @media screen and (max-width: 992px) {
    margin-bottom: 15px;
  }
}

.sale__component {
  margin-top: 18px;
  margin-bottom: 54px;

  @media screen and (max-width: 992px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.carte {
  margin-bottom: 70px;

  @media screen and (max-width: 1198px) {
    margin-bottom: 30px;
  }
}

.carte__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1198px) {
    // justify-content: center;
  }
}

.carte__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  margin-right: 29px;
  margin-bottom: 30px;
  min-width: 730px;
  min-height: 365px;


  background: radial-gradient(50% 50% at 50% 50%, #715757 0%, #3c3030 100%), radial-gradient(50% 50% at 50% 50%, #3c3030 0%, #3c3030 100%), radial-gradient(50% 50% at 50% 50%, #eeb913 0%, #ee8913 100%), #262626;
  box-shadow: 0px 10px 50px #1e1717;

  @media screen and (max-width: 2498px) {
    min-width: 550px;
    min-height: 300px;
  }

  @media screen and (max-width: 1198px) {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 474px;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
    margin-right: 0;
    min-width: 100%;
  }

  @media screen and (max-width:767px) {
    min-width: unset;
  }

  @media screen and (max-width:575px) {
    padding: 15px;
  }
}

.carte__item:nth-child(2n) {
  margin-right: 0;
}

.carte__item:hover {
  background: radial-gradient(50% 50% at 50% 50%, #796464 0%, #524343 100%), radial-gradient(50% 50% at 50% 50%, #eeb913 0%, #ee8913 100%), #262626;
  transition: ease-in-out 0.4s;
}

.carte__mark {
  z-index: 5;
  padding: 7px 10px;
  max-width: fit-content;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #6a5f5f;
  border-radius: 5px;
}

.carte__title {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
}

.carte__overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(360deg, #2c2323 0%, rgba(34, 29, 29, 0) 31.33%), linear-gradient(180deg, #2c2323 0%, rgba(34, 29, 29, 0) 30.17%);
}

.carte__img {
  display: flex;
  justify-content: center;

  img {
    object-fit: contain;

    @media screen and (max-width:575px) {
      width: 100%;
    }
  }
}

.carte__img--abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.carte__inner {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: -24px;
}

.news__item {
  display: flex;
  height: auto;
  background: #3c3030;
  box-shadow: 0px 10px 50px #1e1717;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.news__title {
  margin-right: 30px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
}

.news__mark {
  padding: 7px 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  background: #6a5f5f;
  border-radius: 5px;
}

.news__item:hover {
  box-shadow: 0px 10px 50px #1e1717;
  background: radial-gradient(50% 50% at 50% 50%, #796464 0%, #524343 100%), radial-gradient(50% 50% at 50% 50%, #eeb913 0%, #ee8913 100%), #262626;
  transition: ease-in-out 0.4s;
}

.news__img {
  margin-right: 25px;
  max-height: 308px;

  img {
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1198px) {
    max-height: unset;
  }

  @media screen and (max-width: 992px) {
    margin-right: 0;
    max-width: unset;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.news__inner {
  position: relative;
  padding: 30px 10px 32px 0;

  @media screen and (max-width: 992px) {
    padding: 20px 15px 20px 15px;
  }
}

.news__overlay {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(60, 48, 48, 0) 0%, #3c3030 100%);
}

.news__item:hover .news__overlay {
  background: linear-gradient(180deg, rgba(82, 67, 67, 0) 0%, #524343 100%);
  opacity: 0.5;
}

.news__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 19px;
}

.news__issue {
  position: relative;
  max-height: 88px;

  margin-bottom: 40px;

  overflow-y: hidden;
}

.news__btn {
  margin-right: 30px;
}

.news__divide {
  margin: 58px 0 75px 0;
  height: 1px;
  background: rgba($color: #ffffff, $alpha: 0.2);

  @media screen and (max-width: 1198px) {
    margin: 50px 0;
  }

  @media screen and (max-width: 992px) {
    margin: 30px 0;
  }
}

.news__divide:last-child {
  margin-bottom: 18px;
}

.maps {
  padding-top: 44px;

  @media screen and (max-width: 992px) {
    padding-top: 20px;
  }
}

#map {
  width: 100%;
  height: 650px;

  @media screen and (max-width: 992px) {
    height: 450px;
  }

  @media screen and (max-width:575px) {
    height: 375px;
  }
}