.lk-page {
  padding-bottom: 80px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

.lk-page__data {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;

  max-width: 100%;
  background: #352a2a;
}

.lk-page__orders {
  position: relative;
  padding: 40px 22px 40px 50px;
}

.lk-page__list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.lk-page__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg, rgba(53, 42, 42, 0) 0%, #352a2a 100%);
}

// form-lk
.form-lk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 40px 50px;
  width: 40%;

  border-right: 1px solid #524343;
}

.form-lk__row {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-lk__row label {
  margin-bottom: 10px;
  cursor: pointer;
}

.form-lk__inner {
  display: flex;
}

.form-lk__input {
  padding: 12px 0 15px 20px;
  width: 246px;

  color: #ffffff;
  background: #1f1616;
  border: none;
  outline: none;
}

.form-lk__date {
  padding: 12px 0 15px 20px;
  margin-right: 1px;
  min-width: 85px;

  color: #ffffff;
  background: #1f1616;
  border: none;
  outline: none;

  appearance: none;
}

.form-lk__date--wide {
  min-width: 163px;
}

.form-lk__date:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.95em) 0.9em;
  background-size: auto;
  background-image: url("../img/icons/icon-select.svg");
}

.form-lk__date::-ms-expand {
  display: none;
}

.form-lk__btn {
  max-width: 110px;
  background: transparent;
  cursor: pointer;
}

.form-lk__change,
.form-lk__save {
  position: absolute;
  right: 20px;
  bottom: 12px;

  color: #eeb913;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;

  background: transparent;
  border: none;

  cursor: pointer;
}

.form-lk__save {
  right: -85px;
}

.form-lk__change:hover,
.form-lk__save:hover {
  color: #ffffff;
  transition: all ease-in-out 0.4s;
}

.form-lk__item {
  margin-right: 105px;

  font-size: 12px;
  line-height: 140%;

  color: rgba($color: #ffffff, $alpha: 0.4);
}