.meals-page {
  padding-bottom: 100px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

.meals-page__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.meals-page__title {
  margin-right: 50px;
}

.meals-page__anchors {
  display: flex;
}

.meals-page__item {
  padding: 15px 33px;
  margin-right: 30px;

  border: 1px solid #ffffff;

  border-radius: 60px;

  opacity: 0.2;
}

.meals-page__item:hover,
.meals-page__item.active {
  color: #ffffff;

  border: 1px solid #eeb913;

  opacity: 1;
}

.meals-page__img {
  position: relative;
  margin-bottom: 70px;

  filter: drop-shadow(0px 10px 50px #1c1616);

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.meals-page__overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;

  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 66.33%, rgba(30, 23, 23, 0.8) 100%);
}

.meals-page__descr {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;

  text-align: center;

  color: #ffffff;
}

.meals-page__wrapper {
  padding-left: 50px;
  padding-right: 100px;
}

.meals-page__paragraph--margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

// meals-type 
.meals-type {
  padding-top: 100px;
  padding-bottom: 100px;


  background: radial-gradient(50% 50% at 50% 50%, #3f3333 0%, #271d1d 100%), radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352a2a 100%), #3c3030;
  // background: radial-gradient(50% 50% at 50% 50%, #524343 0%, #352a2a 100%);
  background-image: url("../img/bg/bg-mask-menu-page.png ");
  background-size: contain;

  box-shadow: 0 10px 50px #1e1717;
}

// bordered
.bordered {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 40px;

  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}

.bordered__text {
  width: 50%;
}

.bordered__subtitle {
  margin-bottom: 10px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;

  text-transform: uppercase;

  color: #524343;
}

.bordered__subtitle--big {
  font-size: 120px;
}

.bordered__subtitle--small {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: none;

  color: #ffffff;
}

.bordered__meat {
  display: flex;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 50px;

  background: rgba($color: #1f1616, $alpha: 0.6);
}

.bordered__img {
  img {
    height: auto;
  }
}

// cutlet
.cutlet {
  padding-top: 100px;
  padding-bottom: 50px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

// sauces
.sauces {
  padding-top: 100px;
  padding-bottom: 100px;

  background: radial-gradient(50% 50% at 50% 50%, #3f3333 0%, #271d1d 100%), radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352a2a 100%), #3c3030;
  // background: radial-gradient(50% 50% at 50% 50%, #524343 0%, #352a2a 100%);
  background-image: url("../img/bg/bg-mask-menu-page.png ");
  background-size: contain;

  box-shadow: 0 10px 50px #1e1717;
}

.sauces__text {
  margin-bottom: 50px;
  width: 45%;
}

.sauces__list {
  display: flex;
  flex-wrap: wrap;
}

.sauces__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-right: 29px;
  margin-bottom: 80px;

  max-width: 170px;
}

.sauces__item:nth-child(6n) {
  margin-right: 0;
}

.sticky-content.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  justify-content: center;

  background: #352a2a;
  z-index: 10;
  min-height: 45px;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: all ease-in-out 0.3s;
}

#meat {
  padding-top: 50px;
}