.meals-page {
  padding-bottom: 100px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;

  @media screen and (max-width: 992px) {
    padding-bottom: 30px;
  }
}

.meals-page__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    margin-top: 30px;
  }
}

.meals-page__title {
  margin-right: 50px;

  @media screen and (max-width: 992px) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.meals-page__anchors {
  display: flex;
}

.meals-page__item {
  padding: 15px 33px;
  margin-right: 30px;

  border: 1px solid #ffffff;

  border-radius: 60px;

  opacity: 0.2;

  @media screen and (max-width: 992px) {
    padding: 10px 20px;
    margin-right: 5px;
    margin-left: 5px;
  }

  @media screen and (max-width: 375px) {
    padding: 5px 10px;
  }
}

.meals-page__item:hover,
.meals-page__item.active {
  color: #ffffff;

  border: 1px solid #eeb913;

  opacity: 1;
}

.meals-page__img {
  position: relative;
  margin-bottom: 70px;

  filter: drop-shadow(0px 10px 50px #1c1616);

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 30px;
  }
}

.meals-page__overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;

  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 66.33%, rgba(30, 23, 23, 0.8) 100%);
}

.meals-page__descr {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;

  text-align: center;

  color: #ffffff;

  @media screen and (max-width: 992px) {
    font-size: 24px;
  }
}

.meals-page__wrapper {
  padding-left: 50px;
  padding-right: 100px;

  @media screen and (max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.meals-page__paragraph--margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.meals-type {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;


  background: radial-gradient(50% 50% at 50% 50%, #3f3333 0%, #271d1d 100%), radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352a2a 100%), #3c3030;
  background-image: url("../img/bg/bg-mask-menu-page.png ");
  background-size: contain;

  box-shadow: 0 10px 50px #1e1717;

  @media screen and (max-width: 992px) {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.bordered {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 40px;

  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);

  @media screen and (max-width: 992px) {
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.bordered .btn {
  position: relative;
  z-index: 5;
}

.bordered__text {
  width: 50%;

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.bordered__subtitle {
  margin-bottom: 10px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;

  text-transform: uppercase;

  color: #524343;

  @media screen and (max-width: 992px) {
    font-size: 50px;
  }
}

.bordered__subtitle--big {
  font-size: 120px;

  @media screen and (max-width: 992px) {
    font-size: 50px;
  }
}

.bordered__subtitle--small {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: none;

  color: #ffffff;
}

.bordered__meat {
  display: flex;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 50px;

  background: rgba($color: #1f1616, $alpha: 0.6);

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }
}

.bordered__img {

  img {
    height: auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.cutlet {
  padding-top: 100px;
  padding-bottom: 50px;

  background: url("../img/bg/bg-mask.png");
  background-size: cover;

  @media screen and (max-width: 992px) {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.sauces {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  background: radial-gradient(50% 50% at 50% 50%, #3f3333 0%, #271d1d 100%), radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352a2a 100%), #3c3030;
  background-image: url("../img/bg/bg-mask-menu-page.png ");
  background-size: contain;

  box-shadow: 0 10px 50px #1e1717;

  @media screen and (max-width: 992px) {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.sauces__text {
  margin-bottom: 50px;
  width: 45%;

  @media screen and (max-width: 992px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.sauces__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 575px) {
    justify-content: center;
  }
}

.sauces__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-right: 29px;
  margin-bottom: 80px;

  max-width: 170px;

  @media screen and (max-width: 992px) {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 575px) {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0;
  }
}

.sauces__item:nth-child(6n) {
  margin-right: 0;
}

.sticky-content.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  justify-content: center;

  background: #352a2a;
  z-index: 10;
  min-height: 45px;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: all ease-in-out 0.3s;
}

#sauces,
#burg,
#meat {
  padding-top: 80px;
}