.calculate {
  padding-bottom: 50px;

  // background: url("../img/bg/bg-mask.png");
  // background: url("../img/bg/bg-mask-menu-page.png ");
  background-image: url("../img/bg/bg-mask-menu-page.png ");
  // background: radial-gradient(50% 50% at 50% 50%, #3F3333 0%, #271D1D 100%), radial-gradient(49.04% 49.04% at 50% 28.87%, #524343 0%, #352A2A 100%), #3C3030;
  background: radial-gradient(50% 50% at 50% 50%, #3F3333 0%, #271D1D 100%);

  // background-image: url("../img/bg/bg-mask.png");

  background-size: contain;


  box-shadow: 0px 10px 50px #1e1717;

  // overflow-x: hidden;
}

.calculate__rel {
  position: relative;

  max-width: 1170px;
  margin: 0 auto;

  height: 0;

  @media screen and (max-width: 1198px) {
    max-width: unset;
    width: 960px;
  }
}

.calculate__counter {
  position: absolute;
  right: 150px;
  bottom: 0;

  color: #ffffff;

  @media screen and (max-width: 1198px) {
    bottom: 70px;
    right: 260px;
  }

  @media screen and (max-width: 992px) {
    bottom: 20px;
    right: 245px;
  }

  @media screen and (max-width:767px) {
    bottom: 16px;
    right: 610px;
  }

  @media screen and (max-width:575px) {
    right: 675px;
  }
}

// .calories {}
.calories {
  padding: 15px 20px 20px;
  max-width: 163px;
  background: #1f1616;
}

.calories__item {
  display: flex;
  justify-content: space-between;
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: rem(20px);
  line-height: 120%;
}

.calories__vol {
  color: #eeb913;
}

// ingredient
.ingredient {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  max-width: 300px;


  background: #1f1616;
}

.ingredient__action {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.ingredient__header {
  display: flex;
  justify-content: space-between;
}

.ingredient__subtitle,
.ingredient__title {
  margin-bottom: 10px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rem(14px);
  line-height: 130%;
}

.ingredient__subtitle {
  color: rgba($color: #ffffff, $alpha: 0.3);
}

.ingredient__row {
  display: flex;
  flex-wrap: wrap;
}

.ingredient__select {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ingredient__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}

.ingredient__checkbox+label {
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  cursor: pointer;
}

.ingredient__checkbox+label::before {
  content: "";
  display: inline-block;

  width: 32px;
  height: 33px;

  background: transparent;
  border: 1px solid #605757;
  border-radius: 50%;
  cursor: pointer;
}

.ingredient__checkbox:checked+label::before {
  background: #eeb913;
  border: 1px solid #eeb913;
}

.ingredient__checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #eeb913;
  transition: ease-in-out 0.4s;
}

.ingredient__checkbox:disabled+label {
  background-color: #44393a;
  border-radius: 50%;

  cursor: not-allowed;
}

.ingredient__img {
  position: absolute;

  object-fit: contain;
}

// menu
.menu {
  padding-top: 100px;
  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

.menu__wrapper {
  display: flex;
  justify-content: flex-start;
}

.menu__aside {
  position: relative;
  padding-bottom: 90px;
  width: 20%;
}

.menu__anchors {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.menu__goods {
  width: 75%;
}

.menu__item {
  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  color: rgba($color: #ffffff, $alpha: 0.2);
}

.menu__item:hover,
.active-menu {
  color: rgba($color: #ffffff, $alpha: 1.0);
}

// delivery

.delivery {
  padding-bottom: 100px;
}

.delivery__title {
  margin-bottom: 45px;
}

.delivery__paragraph {
  margin-bottom: 25px;
}

.delivery__paragraph--margin {
  margin-bottom: 60px;
}

// menu__sidebar
.menu__sidebar {
  padding: 10px 0 60px 0;
  width: 0;
}

.menu__cart {
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;

  border: 0 solid #ffffff;
  border-radius: 50%;
  background: #ffffff;

  svg {
    fill: #352a2a;
  }
}

.menu__cart:hover {
  border: 1px solid #ffffff;
  background: transparent;

  svg {
    fill: #ffffff;
  }
}

.menu__cart::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: #eeb913;
}

.menu__counter {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 6px;

  font-family: "PTSansNarrow", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;

  text-align: center;

  color: #121212;
}