.supply-page {
  background: url("../img/bg/bg-mask.png");
  background-size: cover;
}

.supply-page__intro {
  padding-top: 70px;
  padding-bottom: 70px;
}

.supply-page__paragraph {
  margin-bottom: 25px;
}