{% set title = "Страница не найдена" %}
{% include "../templates/header.njk" %}
<main class="main">
  <div class="breadcrumbs wrapper"><a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Личный
      кабинет</span></div>
  <section class="page404 wrapper">
    <img class="page404__img" src="assets/img/bg/page404-img01.png" alt="Patty & Bun" width="217" height="239">
    <h1 class="title title--big page404__title">Ой, страница <span>не&nbsp;найдена</span></h1>
    <h2 class="title title--superbig"><span>4</span>0<span>4</span></h2>
    <a class="btn page404__btn" href="index.html">Вернутся на главную</a>
  </section>
</main>
{% include "../templates/footer.njk" %}