{% set title = "О компании | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="about">
  <div class="breadcrumbs wrapper"><a class="breadcrumbs__link" href="index.html">Главная</a> - <span>О компании</span>
  </div>
  <div class="wrapper">
    <div class="bordered about__bordered">
      <div class="bordered__img">
        <!-- width="539" height="418" -->
        <img src="assets/img/bg/meals-img01.png" alt="" width="539" height="418">
      </div>
      <div class="bordered__text">
        <h2 class="about__parafraph">
          Мы открылись в 2017 году и с тех пор стабильно держим высокую планку при приготовлении и подачи бургеров нашим
          клиентам.
        </h2>
      </div>
    </div>
    <div class="bordered">
      <div class="bordered__text">
        <h2 class="about__parafraph">
          Миссия нашего бургер-бара – создание бургеров классических размеров из действительно качественных
          ингредиентов.
        </h2>
      </div>
      <div class="bordered__img">
        <!-- width="539" height="418" -->
        <img src="assets/img/bg/meals-img02.png" alt="" width="539" height="418">
      </div>
    </div>
  </div>
</section>
<section class="timeline wrapper">
  <h2 class="title timeline__title">История PATTY & BUN</h2>
  <div id="tabs">
    <div class="tabs__content" id="tabs-1">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/tabs-img-01.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2017</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>
    <div class="tabs__content" id="tabs-2">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/main-slide-img01.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2018</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>
    <div class="tabs__content" id="tabs-3">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/tabs-img-01.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2019</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>
    <div class="tabs__content" id="tabs-4">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/menu-img02.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2020</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>
    <div class="tabs__content" id="tabs-5">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/menu-img01.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2021</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>
    <div class="tabs__content" id="tabs-6">
      <div class="tabs__img">
        <!-- width="870" height="550" -->
        <img src="assets/img/bg/main-slide-img01.png" alt="" width="870" height="550">
      </div>
      <div class="tabs__text">
        <h3 class="title">2022</h3>
        <p class="tabs__paragraph tabs__paragraph--margin">
          Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона
          от 27.07.2006. №152-ФЗ «О персональных данных» (далее
        </p>
        <p class="tabs__paragraph">
          Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению
          безопасности персональных данных, предпринимаемые
        </p>
      </div>
    </div>

    <ul class="timeline__list">
      <li class="timeline__item"><a href="#tabs-1">2017</a></li>
      <li class="timeline__item"><a href="#tabs-2">2018</a></li>
      <li class="timeline__item"><a href="#tabs-3">2019</a></li>
      <li class="timeline__item"><a href="#tabs-4">2020</a></li>
      <li class="timeline__item"><a href="#tabs-5">2021</a></li>
      <li class="timeline__item"><a href="#tabs-6">2022</a></li>
    </ul>
  </div>
</section>


{% include "../templates/footer.njk" %}