{% set title = "Корзина | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="cart-page">
  <div class="breadcrumbs wrapper">
    <a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Корзина</span>
  </div>
  <ul class="steps wrapper">
    <li class="steps__step">01 - Корзина</li>
    <li class="steps__step steps__step--line"></li>
    <li class="steps__step steps__step--active">02 - Оформление</li>
    <li class="steps__step steps__step--line"></li>
    <li class="steps__step">03 - Оплата</li>
  </ul>
  <div class="wrapper">
    <div class="cart-page__block">
      <form class="form-cart" action="#" method="post" id="formcart">
        <h1 class="title form-cart__title">Заказ на доставку</h1>
        <div class="form-cart__row">
          <label for="name">Имя
            <input class="form-cart__input" type="text" id="name" placeholder="Сергей">
          </label>
          <button class="form-cart__change" type="button">Изменить</button>
          <label for="tel">Номер телефона
            <input class="form-cart__input" type="tel" id="tel" placeholder="+7 555 555-55-55">
          </label>
          <label for="address">Адрес доставки
            <input class="form-cart__input form-cart__input--nomargin" type="text" id="address"
              placeholder="Например, Баныкина 26">
          </label>
          <button class="form-cart__pickup" type="submit">Выбрать самовывоз</button>
        </div>
        <div class="form-cart__comment">
          <label for="txt">Ваш комментарий</label>
          <textarea class="form-cart__input" name="txt" id="txt" cols="30" rows="6"></textarea>
        </div>
        <div class="form-cart__bottom">
          <div class="form-cart__payment">
            <h2 class="title form-cart__title">Выберите удобный способ оплаты</h2>
            <div class="form-cart__list">
              <div class="form-cart__pay">
                <input class="form-cart__radio" type="radio" id="paySite" name="pay" value="pay1">
                <label for="paySite">Картой на сайте</label>
              </div>
              <div class="form-cart__pay">
                <input class="form-cart__radio" type="radio" id="payCourier" name="pay" value="pay2">
                <label for="payCourier">Картой курьеру</label>
              </div>
              <div class="form-cart__pay">
                <input class="form-cart__radio" type="radio" id="payCash" name="pay" value="pay3">
                <label for="payCash">Наличными</label>
              </div>
            </div>
            <div class="form-cart__inner">
              <div>
                <label>С какой суммы подготовить сдачу?
                  <input class="form-cart__input form-cart__input--num" type="number" step="10">
                </label>
              </div>
              <div class="form-cart__width">
                <input class="form-cart__nochange" type="checkbox" name="nochange" id="nochange" checked>
                <label for="nochange">Без сдачи</label>
              </div>
            </div>
          </div>
          <div class="form-cart__orders">
            <h2 class="title form-cart__title">Состав заказа</h2>
            <ul class="listing">
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
              <li class="listing__item">
                <div class="listing__flex">
                  <p class="listing__title">Крестный отец</p>
                  <p class="listing__cost">290 ₽</p>
                </div>
                <span class="listing__weight">300 г</span>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div class="totals">
      <form class="totals__form" action="#">
        <label>У вас есть промокод?</label>
        <input class="totals__input" type="text" placeholder="23FEBD">
        <button class="totals__btn" type="submit">&rarr;</button>
      </form>
      <div class="totals__col">
        <div class="totals__flex totals__flex--sum">
          <h1 class="totals__subtitle">Итого:</h1>
          <p class="totals__summa"><span>980</span> рублей</p>
        </div>
        <div class="totals__flex">
          <a class="btn totals__onwards" href="cart-page.html">Назад</a>
          <a class="btn totals__onwards" href="cart-page-02.html">Далее</a>
        </div>
      </div>
    </div>

  </div>
</section>

{% include "../templates/footer.njk" %}