{% set title = "Корзина | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="cart-page">
  <div class="breadcrumbs wrapper">
    <a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Корзина</span>
  </div>
  <ul class="steps wrapper">
    <li class="steps__step steps__step--active">01 - Корзина</li>
    <li class="steps__step steps__step--line"></li>
    <li class="steps__step">02 - Оформление</li>
    <li class="steps__step steps__step--line"></li>
    <li class="steps__step">03 - Оплата</li>
  </ul>
  <div class="wrapper">
    <ul class="cart-page__block">
      <li class="cart-page__row">
        <p class="cart-page__num">1</p>
        <div class="cart-page__img">
          <!-- width="75" height="54" -->
          <img src="assets/img/bg/lk-img-01.png" alt="" width="75" height="54">
        </div>

        <div>
          <div class="cart-page__flex">
            <h3 class="cart-page__title">Крестный отец</h3>
            <span class="cart-page__mark">NEW</span>
          </div>
          <ul class="ingredients">
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-03.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-04.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-05.png" alt="" width="16" height="13">
            </li>
          </ul>
        </div>
        <div class="cart-page__cost">
          <p class="cart-page__price">290 Р</p>
          <p class="cart-page__oldprice">350 Р</p>
        </div>
        <div class="cart-page__action">
          <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div>
          <a class="btn" href="#">Изменить добавки</a>
          <button class="btn" type="button">Удалить</button>
        </div>
      </li>

      <li class="cart-page__row">
        <p class="cart-page__num">2</p>
        <div class="cart-page__img">
          <!-- width="75" height="54" -->
          <img src="assets/img/bg/lk-img-01.png" alt="" width="75" height="54">
        </div>
        <div>
          <div class="cart-page__flex">
            <h3 class="cart-page__title">Эль Чапо</h3>
            <!-- <span class="cart-page__mark">NEW</span> -->
          </div>
          <ul class="ingredients">
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-03.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-04.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
          </ul>
        </div>
        <div class="cart-page__cost">
          <p class="cart-page__price">290 Р</p>
          <p class="cart-page__oldprice">350 Р</p>
        </div>
        <div class="cart-page__action">
          <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div>
          <a class="btn" href="#">Изменить добавки</a>
          <button class="btn" type="button">Удалить</button>
        </div>
      </li>

      <li class="cart-page__row">
        <p class="cart-page__num">3</p>
        <div class="cart-page__img">
          <!-- width="75" height="54" -->
          <img src="assets/img/bg/lk-img-01.png" alt="" width="75" height="54">
        </div>
        <div>
          <div class="cart-page__flex">
            <h3 class="cart-page__title">45-ая параллель</h3>
            <span class="cart-page__mark">NEW</span>
          </div>
          <ul class="ingredients">
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-06.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-03.png" alt="" width="16" height="13">
            </li>
            <li class="ingredients__item">
              <!-- width="16" height="13" -->
              <img src="assets/img/bg/ingredient-img-05.png" alt="" width="16" height="13">
            </li>
          </ul>
        </div>
        <div class="cart-page__cost">
          <p class="cart-page__price">290 Р</p>
          <p class="cart-page__oldprice">350 Р</p>
        </div>
        <div class="cart-page__action">
          <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div>
          <a class="btn" href="#">Изменить добавки</a>
          <button class="btn" type="button">Удалить</button>
        </div>
      </li>

    </ul>

    <div class="totals">
      <div class="totals__flex">
        <h1 class="totals__subtitle">Итого:</h1>
        <p class="totals__summa"><span>980</span> рублей</p>
        <a class="btn totals__onwards" href="cart-page.html">Назад</a>
        <a class="btn totals__onwards" href="cart-page-02.html">Далее</a>
      </div>
      <form class="totals__form" action="#">
        <label>У вас есть промокод?</label>
        <input class="totals__input" type="text" placeholder="23FEBD">
        <button class="totals__btn" type="submit">&rarr;</button>
      </form>
    </div>

  </div>
</section>

{% include "../templates/footer.njk" %}