{% set title = "Главная | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="intro">
  <div class="slider wrapper">

    <div class="slider__slide">
      <div class="slider__wrapper">
        <div class="slider__img">
          <!-- width="712" height="553" -->
          <img src="assets/img/bg/main-slide-img01.png" alt="" width="712" height="553">
        </div>
        <div class="slider__inner">
          <p class="slider__name">Бургер</p>
          <h2 class="title title--big">Крестный отец<span class="title__yellow">290 ₽</span></h2>
          <p class="slider__component">
            Состав: Котлета из мраморной говядины, огурцы, помидоры, асйберг булочка бриошь, соус - кислосладкий
          </p>
          <a class="link" href="#">Добавить дополнительные ингредиенты</a>
          <a class="btn btn--invert" href="#">Заказать</a>
        </div>
      </div>
    </div>

    <div class="slider__slide">
      <div class="slider__wrapper">
        <div class="slider__img">
          <!-- width="712" height="553" -->
          <img src="assets/img/bg/main-slide-img01.png" alt="" width="712" height="553">
        </div>
        <div class="slider__inner">
          <p class="slider__name">Бургер</p>
          <h2 class="title title--big">Крестный отец<span class="title__yellow">290 ₽</span></h2>
          <p class="slider__component">
            Состав: Котлета из мраморной говядины, огурцы, помидоры, асйберг булочка бриошь, соус - кислосладкий
          </p>
          <a class="link" href="#">Добавить дополнительные ингредиенты</a>
          <a class="btn btn--invert" href="#">Заказать</a>
        </div>
      </div>
    </div>

    <div class="slider__slide">
      <div class="slider__wrapper">
        <div class="slider__img">
          <!-- width="712" height="553" -->
          <img src="assets/img/bg/main-slide-img01.png" alt="" width="712" height="553">
        </div>
        <div class="slider__inner">
          <p class="slider__name">Бургер</p>
          <h2 class="title title--big">Крестный отец<span class="title__yellow">290 ₽</span></h2>
          <p class="slider__component">
            Состав: Котлета из мраморной говядины, огурцы, помидоры, асйберг булочка бриошь, соус - кислосладкий
          </p>
          <a class="link" href="#">Добавить дополнительные ингредиенты</a>
          <a class="btn btn--invert" href="#">Заказать</a>
        </div>
      </div>
    </div>

    <div class="slider__slide">
      <div class="slider__wrapper">
        <div class="slider__img">
          <!-- width="712" height="553" -->
          <img src="assets/img/bg/main-slide-img01.png" alt="" width="712" height="553">
        </div>
        <div class="slider__inner">
          <p class="slider__name">Бургер</p>
          <h2 class="title title--big">Крестный отец<span class="title__yellow">290 ₽</span></h2>
          <p class="slider__component">
            Состав: Котлета из мраморной говядины, огурцы, помидоры, асйберг булочка бриошь, соус - кислосладкий
          </p>
          <a class="link" href="#">Добавить дополнительные ингредиенты</a>
          <a class="btn btn--invert" href="#">Заказать</a>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__rel">
    <div class="slick-prev">
      <svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.646446 3.64644C0.451183 3.84171 0.451183 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82842L1.70711 4L4.53553 1.17157C4.7308 0.976308 4.7308 0.659726 4.53553 0.464464C4.34027 0.269201 4.02369 0.269201 3.82843 0.464464L0.646446 3.64644ZM33 3.5L1 3.5L1 4.5L33 4.5L33 3.5Z" />
      </svg>
    </div>
    <div class="slick-next">
      <svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64645L29.1716 0.464466C28.9763 0.269204 28.6597 0.269204 28.4645 0.464466C28.2692 0.659728 28.2692 0.976311 28.4645 1.17157L31.2929 4L28.4645 6.82843C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.7308 28.9763 7.7308 29.1716 7.53553L32.3536 4.35355ZM0 4.5H32V3.5H0V4.5Z" />
      </svg>
    </div>
    <!-- общее число страниц слайдера -->
    <div class="intro__counter">
      <span id="cp">1</span><span class="intro__total">/ 4</span>
    </div>
  </div>
</section>
<main class="main">
  <section class="sale wrapper">
    <h2 class="title sale__title">Действует с 01.02.22 - 7.02.22</h2>
    <div class="sale__wrapper">
      <div class="sale__img">
        <!-- width="600" height="375" -->
        <img src="assets/img/bg/main-sale-img01.png" alt="" width="600" height="375">
      </div>
      <div class="sale__inner">
        <p class="sale__name">Бургер недели</p>
        <h2 class="title title--big">45 паралель<span class="title__yellow">290 ₽</span></h2>
        <p class="sale__component">
          Классический бургер с мраморной говядиной, в котором рубленая котлета сочетается со свежим помидором,
          маринованным огурцом и сыром чеддер.
        </p>
        <a class="btn" href="#">Добавить в заказ</a>
      </div>
    </div>
  </section>
  <section class="popular wrapper">
    <h2 class="title">Популярные блюда</h2>
    <h3 class="subtitle">Переходи скорее в меню</h3>
    <ul class="goods">
      <li class="goods__item">
        <div class="goods__flex">
          <h4 class="goods__title">Крестный отец</h4>
          <span class="goods__mark">NEW</span>
        </div>
        <div class="goods__img">
          <!-- width="218" height="180" -->
          <img src="assets/img/bg/goods-img01.png" alt="" width="218" height="180">
        </div>
        <div class="goods__inner">
          <div class="goods__overlay"></div>
          <p class="goods__text">
            Классический бургер с мраморной говядиной, в котором рубленая котлета сочетается со свежим помидором,
            маринованным огурцом и сыром чеддер.
          </p>
        </div>
        <a class="link goods__link" href="#">Читать полностью</a>
        <div class="goods__flex goods__flex--type2">
          <p class="goods__cost">290 Р</p><span>430 грамм</span>
        </div>
        <div class="goods__action">
          <!-- <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div> -->
          <a class="btn btn--goods" href="#">Заказать</a>
        </div>
      </li>
      <li class="goods__item">
        <div class="goods__flex">
          <h4 class="goods__title">Четыре сыра</h4>
          <!-- <span class="goods__mark">NEW</span> -->
        </div>
        <div class="goods__img">
          <!-- width="218" height="180" -->
          <img src="assets/img/bg/goods-img02.png" alt="" width="218" height="180">
        </div>
        <div class="goods__inner">
          <div class="goods__overlay"></div>
          <p class="goods__text">
            Классический бургер с мраморной говядиной, в котором рубленая котлета сочетается со свежим помидором,
            маринованным огурцом и сыром чеддер.
          </p>
        </div>
        <a class="link goods__link" href="#">Читать полностью</a>
        <div class="goods__flex goods__flex--type2">
          <p class="goods__cost">290 Р</p><span>430 грамм</span>
        </div>
        <div class="goods__action">
          <!-- <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div> -->
          <a class="btn btn--goods" href="#">Заказать</a>
        </div>
      </li>
      <li class="goods__item">
        <div class="goods__flex">
          <h4 class="goods__title">Биг Бен</h4>
          <!-- <span class="goods__mark">NEW</span> -->
        </div>
        <div class="goods__img">
          <!-- width="218" height="180" -->
          <img src="assets/img/bg/goods-img03.png" alt="" width="218" height="180">
        </div>
        <div class="goods__inner">
          <div class="goods__overlay"></div>
          <p class="goods__text">
            Классический бургер с мраморной говядиной, в котором рубленая котлета сочетается со свежим помидором,
            маринованным огурцом и сыром чеддер.
          </p>
        </div>
        <a class="link goods__link" href="#">Читать полностью</a>
        <div class="goods__flex goods__flex--type2">
          <p class="goods__cost">290 Р</p><span>430 грамм</span>
        </div>
        <div class="goods__action">
          <!-- <div class="counter">
            <span class="counter__decrease">-</span>
            <input class="counter__input" type="text" value="1" size="200" />
            <span class="counter__increase">+</span>
          </div> -->
          <a class="btn btn--goods" href="#">Заказать</a>
        </div>
      </li>
      <li class="goods__item goods__item--empty">
        <a class="goods__out" href="menu-page.html">
          <div class="goods__plus">+</div>
          Смотреть всё меню
        </a>
      </li>
    </ul>
  </section>
  <section class="carte wrapper">
    <h2 class="title">Меню бургер-бара</h2>
    <h3 class="subtitle">Только лучшие позиции</h3>
    <ul class="carte__list">
      <li class="carte__item">
        <!-- <div class="carte__overlay"></div> -->
        <span class="carte__mark">8 бургеров</span>
        <div class="carte__img">
          <!-- width="403" height="179" -->
          <img src="assets/img/bg/menu-img01.png" alt="" width="403" height="179">
        </div>
        <div class="carte__inner">
          <h4 class="carte__title">Бургеры</h4>
          <a class="btn" href="#">Выбрать бургер</a>
        </div>
      </li>
      <li class="carte__item">
        <div class="carte__overlay"></div>
        <span class="carte__mark">7 самасов</span>
        <div class="carte__img carte__img--abs">
          <!-- width="403" height="179" -->
          <img src="assets/img/bg/menu-bg01.png" alt="" width="403" height="179">
        </div>
        <div class="carte__inner">
          <h4 class="carte__title">Самосы</h4>
          <a class="btn" href="#">Выбрать самос</a>
        </div>
      </li>
      <li class="carte__item">
        <!-- <div class="carte__overlay"></div> -->
        <span class="carte__mark">21 позиция</span>
        <div class="carte__img">
          <!-- width="403" height="179" -->
          <img src="assets/img/bg/menu-img02.png" alt="" width="403" height="179">
        </div>
        <div class="carte__inner">
          <h4 class="carte__title">Закуски и соуса</h4>
          <a class="btn" href="#">Посмотреть</a>
        </div>
      </li>
      <li class="carte__item">
        <!-- <div class="carte__overlay"></div> -->
        <span class="carte__mark">21 позиция</span>
        <div class="carte__img">
          <!-- width="403" height="179" -->
          <img src="assets/img/bg/menu-img03.png" alt="" width="403" height="179">
        </div>
        <div class="carte__inner">
          <h4 class="carte__title">Напитки</h4>
          <a class="btn" href="#">Выбрать напиток</a>
        </div>
      </li>
    </ul>
  </section>
  <section class="news wrapper">
    <h2 class="title">Новости</h2>
    <h3 class="subtitle">Будь в курсе всех событий</h3>
    <ul class="news__list">
      <li class="news__item">
        <div class="news__img">
          <!-- width="570" height="308" -->
          <img src="assets/img/bg/news-bg-img01.png" alt="" width="570" height="308">
        </div>
        <div class="news__inner">
          <div class="news__row">
            <h4 class="news__title">Очень длинный заголовок новости</h4>
            <span class="news__mark">Новости</span>
          </div>
          <div class="news__issue">
            <div class="news__overlay"></div>
            <p class="news__text">
              Классический бургер с мраморной говядиной, в котором рубленая котлета
              сочетается со свежим помидором, маринованным огурцом и сыром чеддер. Классический бургер с мраморной
              говядиной, в котором рубленая котлета сочетается со свежим помидором, маринованным...
            </p>
          </div>
          <div class="news__row">
            <a class="btn news__btn" href="#">Читать полностью</a>
            <span>07.02.2022</span>
          </div>
        </div>
      </li>
      <li class="news__divide"></li>
      <li class="news__item">
        <div class="news__img">
          <!-- width="570" height="308" -->
          <img src="assets/img/bg/news-bg-img02.png" alt="" width="570" height="308">
        </div>
        <div class="news__inner">
          <div class="news__row">
            <h4 class="news__title">Очень длинный заголовок новости</h4>
            <span class="news__mark">Новости</span>
          </div>
          <div class="news__issue">
            <div class="news__overlay"></div>
            <p class="news__text">
              Классический бургер с мраморной говядиной, в котором рубленая котлета
              сочетается со свежим помидором, маринованным огурцом и сыром чеддер. Классический бургер с мраморной
              говядиной, в котором рубленая котлета сочетается со свежим помидором, маринованным...
            </p>
          </div>
          <div class="news__row">
            <a class="btn news__btn" href="#">Читать полностью</a>
            <span>07.02.2022</span>
          </div>
        </div>
      </li>
      <li class="news__divide"></li>
      <li class="news__item">
        <div class="news__img">
          <!-- width="570" height="308" -->
          <img src="assets/img/bg/news-bg-img03.png" alt="" width="570" height="308">
        </div>
        <div class="news__inner">
          <div class="news__row">
            <h4 class="news__title">Очень длинный заголовок новости</h4>
            <span class="news__mark">Новости</span>
          </div>
          <div class="news__issue">
            <div class="news__overlay"></div>
            <p class="news__text">
              Классический бургер с мраморной говядиной, в котором рубленая котлета
              сочетается со свежим помидором, маринованным огурцом и сыром чеддер. Классический бургер с мраморной
              говядиной, в котором рубленая котлета сочетается со свежим помидором, маринованным...
            </p>
          </div>
          <div class="news__row">
            <a class="btn news__btn" href="#">Читать полностью</a>
            <span>07.02.2022</span>
          </div>
        </div>
      </li>
      <li class="news__divide"></li>
    </ul>
  </section>
</main>
<section class="maps">
  <div class="wrapper">
    <a class="btn btn--center" href="#">Смотреть все новости</a>
    <h2 class="title">Где мы находимся?</h2>
    <h3 class="subtitle">Ждём тебя в гости</h3>
  </div>
  <div id="map"></div>
  <script>
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);

    function init() {
      // Создание карты.
      // https://tech.yandex.ru/maps/doc/jsapi/2.1/dg/concepts/map-docpage/
      var myMap = new ymaps.Map("map", {
        // Координаты центра карты.
        // Порядок по умолчнию: «широта, долгота».
        center: [45.031661, 38.974558],
        // Уровень масштабирования. Допустимые значения:
        // от 0 (весь мир) до 19.
        zoom: 14,
        // Элементы управления
        controls: [

          'zoomControl', // Ползунок масштаба
          // 'rulerControl', // Линейка
          // 'routeButtonControl', // Панель маршрутизации
          // 'trafficControl', // Пробки
          // 'typeSelector', // Переключатель слоев карты
          // 'fullscreenControl', // Полноэкранный режим

          // Поисковая строка
          // new ymaps.control.SearchControl({
          //   options: {
          //     // вид - поисковая строка
          //     size: 'large',
          //     // Включим возможность искать не только топонимы, но и организации.
          //     provider: 'yandex#search'
          //   }
          // })

        ]
      });
      // Отключаем scrollZoom
      myMap.behaviors.disable('scrollZoom');
      // Добавление метки
      var myPlacemark = new ymaps.Placemark([45.031661, 38.974558], {
        hintContent: 'Кранодар, ул. Красноармейская, 73',
        // Балун откроется при клике по метке.
        balloonContent: '+7 (928) 433-66-78'
      }, {
        // Опции.

        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',

        // Своё изображение иконки метки.
        iconImageHref: 'assets/img/icons/icon-pin-map.png',
        // Размеры метки.
        iconImageSize: [40, 53],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-16, -16],
      });

      // После того как метка была создана, добавляем её на карту.
      myMap.geoObjects.add(myPlacemark);

    }
  </script>
  <!-- <div class="maps__frame">
    <script async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7dd80b166dc5b07f2961b6d883c27d6a4cee14c2135c690a954ba8f8af8d3876&amp;height=650&amp;lang=ru_RU&amp;scroll=false">
    </script>
  </div> -->
</section>

<div class="popup__bg wrapper">
  <form class="popup label">
    <svg class="close-popup" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="#2982ff"
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <div>
      <input type="text" name="name">
      <div class="label__text">
        Ваше имя
      </div>
    </div>
    <div>
      <input type="tel" name="tel">
      <div class="label__text">
        Ваш телефон
      </div>
    </div>
    <div>
      <textarea name="message"></textarea>
      <div class="label__text">
        Ваше сообщение
      </div>
    </div>
    <button type="submit">Отправить</button>
  </form>
</div>
{% include "../templates/footer.njk" %}