{% set title = "Меню | Patty & Bun" %}
{% include "../templates/header.njk" %}

<div class="breadcrumbs wrapper"><a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Меню</span></div>
<section class="menu">

  <div class="slider-nav">
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Крестный отец<span class="slider-nav__mark">NEW</span></h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">45 параллель</h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Эль чапо</h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Нордик</h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Четыри сыра</h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Биг-Бен</h2>
    </div>
    <div class="slider-nav__slide">
      <h2 class="slider-nav__title">Атомный микроб</h2>
    </div>
  </div>

  <div class="slider-for wrapper">

    <div class="slider-for__slide">
      <div class="slider-for__wrapper">
        <div class="slider-for__inner">
          <h2 class="title slider-for__title">290 ₽<span class="slider-for__weight">430 грамм</span></h2>
          <p class="slider-for__component">
            Состав бургера: <span>Булочка, Говяжая котлета, Сыр, Соус 1000 островов, Лук</span>
          </p>
          <ul class="calories">
            <li class="calories__item">
              <p>Калории</p>
              <p class="calories__vol">847</p>
            </li>
            <li class="calories__item">
              <p>Белки</p>
              <p class="calories__vol">40,2</p>
            </li>
            <li class="calories__item">
              <p>Жиры</p>
              <p class="calories__vol">58,4</p>
            </li>
            <li class="calories__item">
              <p>Углеводы</p>
              <p class="calories__vol">50,6</p>
            </li>
          </ul>
        </div>
        <div class="slider-for__img">
          <!-- width="598" height="491" -->
          <img src="assets/img/bg/menu-page-slider01.png" alt="" width="598" height="491">
        </div>
        <form class="ingredient">
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор булочки</h3>
            <p class="ingredient__subtitle">Шаг 1/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-01" type="checkbox" disabled>
              <label for="check-01">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-01.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-02" type="checkbox">
              <label for="check-02">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-02.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор котлеты*</h3>
            <p class="ingredient__subtitle">Шаг 2/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-03" type="checkbox">
              <label for="check-03">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-03.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-04" type="checkbox">
              <label for="check-04">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-04.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-05" type="checkbox">
              <label for="check-05">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-05.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-06" type="checkbox" disabled>
              <label for="check-06">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-06.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Дополнительные ингредиенты</h3>
            <p class="ingredient__subtitle">Шаг 3/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-09" type="checkbox">
              <label for="check-09">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-07.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-10" type="checkbox">
              <label for="check-10">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-08.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-11" type="checkbox">
              <label for="check-11">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-09.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-12" type="checkbox">
              <label for="check-12">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-10.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-13" type="checkbox" disabled>
              <label for="check-13">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-11.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-14" type="checkbox">
              <label for="check-14">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-12.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-15" type="checkbox">
              <label for="check-15">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-16" type="checkbox">
              <label for="check-16">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-17" type="checkbox">
              <label for="check-17">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-15.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-18" type="checkbox">
              <label for="check-18">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-16.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-19" type="checkbox" disabled>
              <label for="check-19">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-20" type="checkbox">
              <label for="check-20">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__action">
            <div class="counter">
              <span class="counter__decrease">-</span>
              <input class="counter__input" type="text" value="1" size="200" />
              <span class="counter__increase">+</span>
            </div>
            <button class="btn btn--invert" type="submit">В корзину</button>
          </div>
        </form>
      </div>
    </div>

    <!-- slide-02 -->
    <div class="slider-for__slide">
      <div class="slider-for__wrapper">
        <div class="slider-for__inner">
          <h2 class="title slider-for__title">290 ₽<span class="slider-for__weight">430 грамм</span></h2>
          <p class="slider-for__component">
            Состав бургера: <span>Булочка, Говяжая котлета, Сыр, Соус 1000 островов, Лук</span>
          </p>
          <ul class="calories">
            <li class="calories__item">
              <p>Калории</p>
              <p class="calories__vol">847</p>
            </li>
            <li class="calories__item">
              <p>Белки</p>
              <p class="calories__vol">40,2</p>
            </li>
            <li class="calories__item">
              <p>Жиры</p>
              <p class="calories__vol">58,4</p>
            </li>
            <li class="calories__item">
              <p>Углеводы</p>
              <p class="calories__vol">50,6</p>
            </li>
          </ul>
        </div>
        <div class="slider-for__img">
          <!-- width="598" height="491" -->
          <img src="assets/img/bg/menu-page-slider01.png" alt="" width="598" height="491">
        </div>
        <form class="ingredient">
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор булочки</h3>
            <p class="ingredient__subtitle">Шаг 1/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-21" type="checkbox" disabled>
              <label for="check-21">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-01.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-22" type="checkbox">
              <label for="check-22">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-02.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор котлеты*</h3>
            <p class="ingredient__subtitle">Шаг 2/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-23" type="checkbox">
              <label for="check-23">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-03.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-24" type="checkbox">
              <label for="check-24">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-04.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-25" type="checkbox">
              <label for="check-25">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-05.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-26" type="checkbox" disabled>
              <label for="check-26">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-06.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Дополнительные ингредиенты</h3>
            <p class="ingredient__subtitle">Шаг 3/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-27" type="checkbox">
              <label for="check-27">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-07.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-28" type="checkbox">
              <label for="check-28">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-08.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-29" type="checkbox">
              <label for="check-29">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-09.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-30" type="checkbox">
              <label for="check-30">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-10.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-31" type="checkbox" disabled>
              <label for="check-31">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-11.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-32" type="checkbox">
              <label for="check-32">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-12.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-33" type="checkbox">
              <label for="check-33">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-34" type="checkbox">
              <label for="check-34">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-35" type="checkbox">
              <label for="check-35">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-15.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-36" type="checkbox">
              <label for="check-36">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-16.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-37" type="checkbox" disabled>
              <label for="check-37">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-38" type="checkbox">
              <label for="check-38">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__action">
            <div class="counter">
              <span class="counter__decrease">-</span>
              <input class="counter__input" type="text" value="1" size="200" />
              <span class="counter__increase">+</span>
            </div>
            <button class="btn btn--invert" type="submit">В корзину</button>
          </div>
        </form>
      </div>
    </div>

    <!-- slide-03 -->
    <div class="slider-for__slide">
      <div class="slider-for__wrapper">
        <div class="slider-for__inner">
          <h2 class="title slider-for__title">290 ₽<span class="slider-for__weight">430 грамм</span></h2>
          <p class="slider-for__component">
            Состав бургера: <span>Булочка, Говяжая котлета, Сыр, Соус 1000 островов, Лук</span>
          </p>
          <ul class="calories">
            <li class="calories__item">
              <p>Калории</p>
              <p class="calories__vol">847</p>
            </li>
            <li class="calories__item">
              <p>Белки</p>
              <p class="calories__vol">40,2</p>
            </li>
            <li class="calories__item">
              <p>Жиры</p>
              <p class="calories__vol">58,4</p>
            </li>
            <li class="calories__item">
              <p>Углеводы</p>
              <p class="calories__vol">50,6</p>
            </li>
          </ul>
        </div>
        <div class="slider-for__img">
          <!-- width="598" height="491" -->
          <img src="assets/img/bg/menu-page-slider01.png" alt="" width="598" height="491">
        </div>
        <form class="ingredient">
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор булочки</h3>
            <p class="ingredient__subtitle">Шаг 1/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-40" type="checkbox" disabled>
              <label for="check-40">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-01.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-41" type="checkbox">
              <label for="check-41">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-02.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Выбор котлеты*</h3>
            <p class="ingredient__subtitle">Шаг 2/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-42" type="checkbox">
              <label for="check-42">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-03.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-43" type="checkbox">
              <label for="check-43">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-04.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-44" type="checkbox">
              <label for="check-44">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-05.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-45" type="checkbox" disabled>
              <label for="check-45">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-06.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
          </div>
          <div class="ingredient__header">
            <h3 class="ingredient__title">Дополнительные ингредиенты</h3>
            <p class="ingredient__subtitle">Шаг 3/3</p>
          </div>
          <div class="ingredient__row">
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-46" type="checkbox">
              <label for="check-46">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-07.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-47" type="checkbox">
              <label for="check-47">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-08.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-48" type="checkbox">
              <label for="check-48">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-09.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-49" type="checkbox">
              <label for="check-49">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-10.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-50" type="checkbox" disabled>
              <label for="check-50">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-11.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-51" type="checkbox">
              <label for="check-51">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-12.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-52" type="checkbox">
              <label for="check-52">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-53" type="checkbox">
              <label for="check-53">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-54" type="checkbox">
              <label for="check-54">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-15.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-55" type="checkbox">
              <label for="check-55">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-16.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-56" type="checkbox" disabled>
              <label for="check-56">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-14.png" alt="" width="27" height="22">
              </label>
              <!-- <div class="tooltip">
                  <h4 class="tooltip__title">Белая булочка</h4>
                  <p class="tooltip__text">Мягкая булочка только из печи!</p>
                  <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div> -->
            </div>
            <div class="ingredient__select">
              <input class="ingredient__checkbox" id="check-57" type="checkbox">
              <label for="check-57">
                <img class="ingredient__img" src="assets/img/bg/ingredient-img-13.png" alt="" width="27" height="22">
              </label>
              <div class="tooltip">
                <h4 class="tooltip__title">Белая булочка</h4>
                <p class="tooltip__text">Мягкая булочка только из печи!</p>
                <p class="tooltip__price">+0 рублей <span class="tooltip__text">50 гр</span></p>
              </div>
            </div>
          </div>
          <div class="ingredient__action">
            <div class="counter">
              <span class="counter__decrease">-</span>
              <input class="counter__input" type="text" value="1" size="200" />
              <span class="counter__increase">+</span>
            </div>
            <button class="btn btn--invert" type="submit">В корзину</button>
          </div>
        </form>
      </div>
    </div>
    <!-- slide-04 -->

    <!-- slide-05 -->

    <!-- slide-06 -->

    <!-- slide-07 -->

    <!-- END slide -->

  </div>
  <div class="menu__rel">
    <div class="slick-prev">
      <svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.646446 3.64644C0.451183 3.84171 0.451183 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82842L1.70711 4L4.53553 1.17157C4.7308 0.976308 4.7308 0.659726 4.53553 0.464464C4.34027 0.269201 4.02369 0.269201 3.82843 0.464464L0.646446 3.64644ZM33 3.5L1 3.5L1 4.5L33 4.5L33 3.5Z" />
      </svg>
    </div>
    <div class="slick-next">
      <svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64645L29.1716 0.464466C28.9763 0.269204 28.6597 0.269204 28.4645 0.464466C28.2692 0.659728 28.2692 0.976311 28.4645 1.17157L31.2929 4L28.4645 6.82843C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.7308 28.9763 7.7308 29.1716 7.53553L32.3536 4.35355ZM0 4.5H32V3.5H0V4.5Z" />
      </svg>
    </div>
    <!-- общее число страниц слайдера -->
    <div class="menu__counter">
      <span id="cp">1</span><span class="intro__total">/ 7</span>
    </div>
  </div>
</section>
{% include "../templates/footer.njk" %}