{% set title = "Доставка | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="supply-page">
  <div class="breadcrumbs wrapper">
    <a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Доставка</span>
  </div>
  <div class="supply-page__intro wrapper">
    <h1 class="title title--mb">Доставка и оплата в Краснодаре</h1>
    <p class="supply-page__paragraph">Самый простой и быстрый способ - оформить заказ на этом сайте :) Ну, или позвонить
      нам по телефону
      +7(928)433-66-78. Доставить заказ можем либо курьером, либо через Яндекс.Такси. Доставляем по всему городу
      Краснодару. По доставке в удаленные районы лучше уточнить по телефону.
    </p>
    <p class="supply-page__paragraph">
      Помимо этого, ты можешь сделать заказ у любого агрегатора, для этого просто кликай по ссылкам ниже!
    </p>
  </div>

</section>
{% include "../templates/footer.njk" %}