{% set title = "Доставка | Patty & Bun" %}
{% include "../templates/header.njk" %}
<section class="supply-page">
  <div class="breadcrumbs wrapper">
    <a class="breadcrumbs__link" href="index.html">Главная</a> - <span>Доставка</span>
  </div>
  <div class="supply-page__intro wrapper">
    <h1 class="title title--mb">Доставка и оплата в Краснодаре</h1>
    <p class="supply-page__paragraph">Самый простой и быстрый способ - оформить заказ на этом сайте :) Ну, или позвонить
      нам по телефону
      +7(928)433-66-78. Доставить заказ можем либо курьером, либо через Яндекс.Такси. Доставляем по всему городу
      Краснодару. По доставке в удаленные районы лучше уточнить по телефону.
    </p>
    <p class="supply-page__paragraph">
      Помимо этого, ты можешь сделать заказ у любого агрегатора, для этого просто кликай по ссылкам ниже!
    </p>
  </div>
</section>
<div class="maps-block">
  <div class="bg-img">
    <img src="assets/img/bg/bg-mask.png" alt="" width="1920" height="4400">
  </div>
  <div class="wrapper">
    <ul class="maps-block__list">
      <li class="maps-block__item">
        <h2 class="title maps-block__title">Режим работы</h2>
        <p>Приём заказов: ежедневно с 10:00 до 20:00</p>
      </li>
      <li class="maps-block__item">
        <h2 class="title maps-block__title">Бесплатная доставка</h2>
        <p>При заказе от 1500 рублей</p>
      </li>
      <li class="maps-block__item">
        <h2 class="title maps-block__title">Зоны доставки</h2>
        <ul class="maps-block__sublist">
          <li class="maps-block__subitem">Зона 1 – 100 руб.</li>
          <li class="maps-block__subitem">Зона 1 – 100 руб.</li>
          <li class="maps-block__subitem">Зона 1 – 100 руб.</li>
          <li class="maps-block__subitem">Зона 1 – 100 руб.</li>
        </ul>
      </li>
    </ul>
    <div class="maps-block__inner wrapper">
      <div class="maps-block__ymap">
        <script async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A34ad2babed713c73a06d577c25f1516e719b1c915c947b85ef565c0ae6290975&amp;width=570&amp;height=464&amp;lang=ru_RU&amp;scroll=true">
        </script>
        <a class="maps-block__link" href="https://yandex.ru/maps/-/CCUBeUXD0B">Яндекс <span> Карты</span></a>
        <!-- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A34ad2babed713c73a06d577c25f1516e719b1c915c947b85ef565c0ae6290975&amp;source=constructor" width="570" height="464" frameborder="0"></iframe> -->
      </div>
      <div class="maps-block__gmap">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26823.028504541922!2d38.95353781628355!3d45.03662591107392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04fa2ccdcac7d%3A0x7eed0c5d00184d89!2z0JrRgNCw0YHQvdC-0LDRgNC80LXQudGB0LrQsNGPINGD0LsuLCA3Mywg0JrRgNCw0YHQvdC-0LTQsNGALCDQmtGA0LDRgdC90L7QtNCw0YDRgdC60LjQuSDQutGA0LDQuSwgMzUwMDAw!5e0!3m2!1sru!2sru!4v1647419293151!5m2!1sru!2sru"
          width="570" height="464" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        <a class="maps-block__link" href="https://goo.gl/maps/fQHg5tLaKS8Ge12RA">Google <span> Map</span></a>
      </div>
    </div>
  </div>
</div>
<section class="register wrapper">
  <div class="register__intro">
    <h1 class="title title--mb">Оформление доставки</h1>
    <p class="register__paragraph">Самый простой и быстрый способ - оформить заказ на этом сайте :) Ну, или позвонить
      нам по телефону +7(928)433-66-78. Доставить заказ можем либо курьером, либо через Яндекс.Такси. Доставляем по
      всему городу Краснодару. По доставке в удаленные районы лучше уточнить по телефону.
    </p>
    <p class="register__paragraph">
      Помимо этого, ты можешь сделать заказ у любого агрегатора, для этого просто кликай по ссылкам ниже!
    </p>
    <div class="register__flex">
      <a class="register__link" href="#">
        <img src="assets/img/bg/logo-broniboy.png" alt="" width="369" height="172">
      </a>
      <a class="register__link" href="#">
        <img src="assets/img/bg/logo-deliv-club.png" alt="" width="342" height="159">
      </a>
    </div>
</section>
{% include "../templates/footer.njk" %}